
/*ESTILO GERAL*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
} 

h2.title{
	color: #fff;
	font-size: 38px;
	text-align: center;
}

h2.title span{
	color: #329DE5;
}

body{
	background: #000 ;
	height: 100vh;
}
.interface{
	max-width: 2200px;
	margin: 0 auto;
}

.interface .logo img{
	text-align: left;
}

.flex{
	display: flex;
}

/* ESTILO CABEÇALHO */
header{
	padding: 40px 10%;
}

header > .interface{
	display: flex;
	align-items: center;
	justify-content: space-between;
}/*Permite a configuração apenas no itens que estão na interface e não no comando todo*/

header a{
	color: #7d7d7d;
	text-decoration: none;
	display: inline-block;
	transition: .3s;
}/*Cor da Fonte e sublinhado abaixo do texto do menu*/

header a:hover {
	color: #fff;
	transform: scale(1.15);
}

header nav ul{
	list-style-type: none;
}/*} Retirar os marcadores*/

header nav ul li{
	display: inline-block;
	padding: 0 70px;
	font-size: 20px;
} 

.logo img{
    width: 100px;  /* Ajuste o tamanho da imagem */
	height: 100px;
}

/*SOBRE MIM*/
section.sobre{
	padding: 40px 10%;
}

section.sobre .flex{
	align-items: center;
	gap: 60px;
}

.sobre .txt-sobre{
	color: #fff;
}

.sobre .txt-sobre h2{
	text-align: justify;
	font-size: 40px;
}

.sobre .txt-sobre p{
	margin-top: 25px;
	margin: 20 px 0;
	text-align: justify;

}

.img-sobre img{
	width: 250px;  /* Ajuste o tamanho da imagem */
	height: 250px;
	margin-top: 50px;
}

.btn-social img{
	margin: 20px 8px;
	width: 50px;
	height: 50px;
	transition: .3s;
}

.btn-social img:hover{
	transform: scale(1.25);
}

/*ESPECIALIDADES*/
section.especialidades{
	padding: 40px 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

section.especialidades .flex{
	gap: 100px;
}

.especialidades .especialidades-box{
	color: #fff;
	padding: 40px;
	border-radius: 20px;
/*	border: 2px solid #fff;*/
	margin-top: 35px;
	transition: 0.5s;
}

.especialidades .especialidades-box:hover{
	transform: scale(1.1);
	box-shadow: 0 0 8px #329DE5;
} /*Borda sombreada em azul*/

.especialidades .especialidades-box h3{
	font-size: 22px;
	margin: 15px;
}

/*MEU PORTIFOLIO*/
section.portfolio{
	padding: 40px 10%;
	display: block;
	align-items: center;
	justify-content: space-between;
}

section.portfolio .flex{
	gap: 100px;
}

.slider-container {
    position: relative;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.slide {
    display: none;
    position: relative;
	margin-top: 40px;
}

.slide iframe {
    width: 100%;
    height: 620px;
    border: none;
    padding: 30px;
}

.slide.active {
    display: block;
}

.slide-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slide-description h3{
	margin: 15px 0;
	font-size: 25px;
}

.slide-description p{
	margin-top: 10px;
	margin: 0 10px;
	line-height: 1.5;
	font-size: 18px;
}

.slide-description a{
	margin: 5px 10px;
}
.slide:hover .slide-description {
    opacity: 1;
}

.visualizar {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #333;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.visualizar:hover {
    background-color: #555;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #329DE5;
    font-size: 100px;
    cursor: pointer;
    z-index: 10;
}

.prev-btn {
    left: 5px;
}

.next-btn {
    right: 5px;
}

@media screen and (max-width:1062px){
	/*Classes Gerais*/
	.flex{
		flex-direction: column;/*o layout fica em modo coluna*/
	}

	/*Cabeçalho*/
	.menu-desktop{
		display: none;
	}

	/*Slide*/
	.slider-container{
		width: 100%;
	}

	.slide iframe{
		height: 270px;
	}
}

@media	(max-width:825px){
	.slide-description {
	    position: static; /* Remove o posicionamento absoluto */
        opacity: 1; /* Sempre visível */
        margin-top: 10px; /* Espaçamento entre o slide e a descrição */
        text-align: justify; /* Centraliza o texto */
	}

	{
    .slide-btn {
        font-size: 30px; /* Reduz o tamanho dos botões */
        cursor: auto;
    }
}